.login-form {
  background: var(--white);
  width: 32rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form > * + * {
  margin-top: 1rem;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  color: var(--text);
}
